* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.debug{
border: 1px solid black;
min-height: 100px;
}

:root{
    --white: #fff;
    --dark-not-black: #333333;
    --text-color: #000;
    --alt-text-color: #FDC15F;
    --blue: #0084FD;
    --azure: #B5DDFF;
    --purple: #9792E4;

}
body{
    background-color: var(--white);
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}
button{
    padding: 0;
    border: none;
    background: none;
}
.container{
    max-width: 600px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.center{    
    align-items: center;
    justify-content: center;
}
.align-center{
    align-items: center;
}
.sec-spacing{
    margin-top:80px;
}
.line-h{
    line-height: 1.5em;
}
.italic{
    font-style: italic;
}

/* BUTTON AND HOVER */
.btn{
    background-color: var(--blue);
    color: var(--white);
    text-decoration: none;
    text-align: center;
    border-radius: 1rem;
    padding: 0.50em 3em;
    font-size: 0.90em;
}


/* HEADER */
header{
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 2rem;
    margin-bottom: 50px;
    position: sticky;
    top: 0;
}
.main-menu{
    display: none;
}
.main-menu ul li, .main-menu ul li a{   
    text-decoration: none;
    list-style: none;
    color: var(--white);
}

/* MAIN */
/* CARD SECTION */
#planning, #features, #get-started{
    background-color: var(--purple);
}
#intro{
    padding: 0 2rem;
}
.card{
    background-color: var(--azure);
    margin-bottom: 1.5rem;
    border-radius: 10px;
}
.card img{
    width: 100%;
}
.card h3{
    color: var(--blue);
    padding-bottom: 1em;
    font-size: 1.35em;
}
#c-text1{    
    text-align: left;
    padding-bottom: 1.5em;
}
.card .c-text{
    flex-direction: column;
    justify-content: space-evenly;    
    padding: 2rem 2rem;
    text-align: center;
}
.card-icon{
    font-size: 5rem;
    margin-top: 2rem;
    color: var(--blue);
}
/* PLANNIN SECTION */
#planning{
    padding: 0 2rem;
}
#planning img{
    padding-top: 2rem;
    width: 100%;
}
.planning{
    padding-bottom: 15px;
}
.p-text{
    color: var(--white);
}
.p-text h3{
    font-size: 2em;
    padding: 1em 0;
}
.planning .card{
    background-color: var(--white);
    color: var(--text-color);
    margin: 2.5rem 0;
    border-radius: 30px;
}
.planning .card .c-text h3{
    color: var(--text-color);
}
.arrow-btn{
    background-color: var(--purple);
    color: var(--text-color);
    font-size: 1em;
    padding: 12px 14px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

/* TESTIMONIAL SECTION */
.t-text{
    flex-direction: column;
    justify-content: space-evenly;    
    padding: 0 2rem;
    text-align: center;
}
.t-text h2{
    color: var(--purple);    
    margin: 0.80em 0;
    font-size: 2em;
}
.t-text p{
    font-size: 1.1em;
}



/* FOOTER */
footer{
    background-color: var(--dark-not-black);
}


/* RESPONSIVE */

/* MOBILE */
@media screen and (max-width:375px){
    .container{
        max-width: 375px;
    }
    .card{
        background-color: var(--azure);
        margin-bottom: 1.5rem;
        border-radius: 10px;
        flex-flow: column;
        align-items: center;
    }
    .card img{
        width: 70%;
    }

}

/* TABLET e DESKTOP */



@media screen and (min-width:768px){
    .container{
        max-width: 768px;
    }
    .main-menu{
        display: inherit;
    }
    .main-menu ul li{
        padding: 0 0.25rem;
    }
    .hamburger{
        display: none;
    }
    #intro .cards{
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
    #intro .card{
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: calc(33.33% - 1.5rem);
    }
    #intro .card:first-child{
        width: calc(66.66% - 1.5rem);
    }
    
}


